@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import url("/resources/css/themes.css");
* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
    outline: 1px solid var(--nav);
    border-radius:5px;
}

::-webkit-scrollbar-track {
  border:0.5px solid var(--nav);
  background: var(--accent);
  border-radius:5px;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-accent);
    border-radius: 20px;
    outline: 1px solid var(--text);
    border:0.5px solid var(--nav);
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Figtree", sans-serif;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Figtree", sans-serif;
}

.center h1 {
  text-align: center;
  color: var(--text);
  text-shadow: 0px 0px 10px 10px var(--secondary-accent);
  margin: 10px;
  font-size: 50px;
}

input {
  width: 525px;
  background-color: transparent;
  border: 1.5px var(--accent) solid;
  border-radius: 30px;
  font-size: 19px;
  outline: none;
  padding-left:20px;
  color: var(--text);
  height: 50px;
  transition: color 100ms;
}

input::placeholder {
  color: var(--text);
}

.search-container {
  position: relative;
  display: inline-block;
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  cursor: default;
  background:var(--accent-lol);
}

.settings-tab {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--accent);
  color: white;
  padding: 20px;
  border-radius: 5px;
  display: none;
  z-index: 999;
  width: 45%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.icons {
  width: 50px;
  margin: 0;
}

#close {
  cursor: pointer;
  left: 15px;
  top: 15px;
  position: fixed;
  margin: 0;
}

select {
  font-family: "Figtree", sans-serif;
  align-items: center;
  padding: 2px;
  width: 150px;
  border: none;
  border-radius: 5px;
  background-color: var(--accent);
  color: var(--text);
  box-shadow: 0 0 10px var(--secondary-accent);
  border: 1px solid var(--secondary-accent);
  transition: 1s;
  text-align: center;
}
select:focus {
  outline: none;
  background-color: var(--accent);
}

option {
  font-family: "Figtree", sans-serif;
}

.section {
  gap: 30px;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--secondary-accent);
  width: 100%;
  height: 100%;
  transition: 0.3s;
  box-sizing: border-box;
  overflow-y:auto;
  overflow-x:hidden;
}

#content {
  transition: filter 0.3s;
}

.section h3 {
  margin: 10px;
  color: var(--text);
}

button {
  height: 40px;
  width: fit-content;
  border: 1px solid var(--secondary-accent);
  background: var(--nav);
  color: var(--text);
  border-radius: 6px;
  font-family: "Figtree", sans-serif;
  margin: 5px;
  cursor: pointer;
  padding: 10px;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.05);
}

#titleInput,
#faviconInput {
  width: 250px;
  height: 30px;
  border: 1px solid var(--secondary-accent);
  border-radius: 5px;
  padding-left: 15px;
  margin: 5px;
}

.tip {
  border-radius: 5px;
  width: 230px;
  padding: 20px;
  color: var(--text);
  background-color: var(--secondary-accent);
  box-shadow: 0 1px 8px var(--accent);
  opacity: 1;
  transition: opacity 1s ease-in-out;
  transition: 1s;
  bottom: 15px;
  right: 15px;
  position: fixed;
}

.tip:hover {
  transform: translateY(-1.1rem);
}

.tip.fade-out {
  opacity: 0;
}

.highlight {
  background-color: var(--accent-lol);
  border-radius: 10px;
  height: 40px;
  width: 100px;
}

#redirectForm input {
  border: 1px solid var(--secondary-accent);
  height:25px;
  border-radius:5px;
}

#appTab {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--accent);
  color: white;
  padding: 20px;
  border-radius: 5px;
  display: none;
  z-index: 999;
  width: 45%;
  height: 500px;
  text-align: center;
  overflow-y: auto;
}

.app {
  margin: 10px;
  width: 200px;
  height: 200px;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
}

.apps-container {
  overflow-y: auto;
  max-height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

#appTab h3 {
  margin: 10px;
  color: var(--text);
}
